/* Write your CSS here */
.notFound {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Bree Serif';
  align-items: center;
  justify-content: center;
}
.not {
  color: white;
  font-size: 50px;
  font-weight: bold;
}
