/* Write your CSS here */
.teamItem {
  display: flex;
  flex-direction: row;
  width: 500px;
  padding: 10px;
  align-items: center;
  background-color: #ffffff33;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  margin: 20px;
}
.teamItemLogo {
  height: 10%;
  width: 10%;
}
.teamItemHead {
  font-size: 25px;
  width: 250px;
  color: white;
  margin-left: 10px;
  font-weight: bold;
}
